a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
@media screen and (max-width: 600px) {
    #MainText{
        visibility: hidden;
    }
    #MainText:after {
            content:'Mobile Size'; 
            visibility: visible;
            display: block;
    }
}
